{% extends 'base.html.twig' %}

{% block title %}
    circunomics!
                            
                        
                    
                
            
        
    
{% endblock %}

{% block body %}

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <p>
                <img src="https://static.wixstatic.com/media/45f9f0_4e8d1433ed374be0b2fb64fe74ea1aea~mv2.png/v1/fill/w_148,h_72,al_c,q_85,usm_0.66_1.00_0.01/Logo-Circunomics_white.webp" alt="Logo-Circunomics_white.png" style="width:74px;height:36px;object-fit:cover;object-position:50% 50%"></p>

                <h1 class="display-5 fw-bold text-white">
                    Circunomics Tech Challenge
                                                                            
                                                        
                                    
                </h1>
                <div class="col-md-9 mx-auto">
                    <p class="fs-5 mb-4">
                        Simple example with Symfony 5, Bootstrap 5, Docker, MailHog, Nginx, MySql and PHP MyAdmin by Emanuel Fonseca.                           
                                            
                    </p>
                    <table class="table table-dark table-hover table-responsive-lg fs-6">
                        <thead>
                            <tr>
                                <th scope="col" class="col-md-2">
                                    Id
                                                                                                                
                                                                        
                                </th>
                                <th scope="col" class="col-md-2">
                                    Date
                                                                                                                                                        
                                                                        
                                </th>
                                <th scope="col" class="col-md-1">
                                    Author
                                                                                                                
                                                                        
                                </th>
                                <th scope="col" class="col-md-4">
                                    Comment
                                                                                                                
                                                                        
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbCommit in dbCommits %}

                                {% set lChar = dbCommit.commit_id|last %}

                                <tr>

                                    <td scope="row" class="fs-6 text-start">
                                        {{ dbCommit.commit_id }}
                                        {% if lChar matches '/^\\d+$/' %}
                                            (last char is int) 
                                        {% endif %}
                                    </td>
                                    <td class="fs-6 text-start">
                                        {{ dbCommit.commited_at|date('Y-m-d H:i:s') }}
                                    </td>
                                    <td class="fs-6 text-start">
                                        {{ dbCommit.author }}
                                    </td>
                                    <td class="fs-6 text-start">
                                        {{ dbCommit.comment }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
